# vs code configuration
.vscode/
# proteus backup
proteus_simulation/*
!proteus_simulation/proteus_simulation.pdsprj
# Altium history folder
altium_pcb/PCB_Project/History/*
altium_pcb/PCB_Blocks/History/*